<div [ngClass]="{'loader': !inline, 'inline-loader': inline}"
     [hidden]="!show"
     [ngStyle]="{'background-color': background}">
  <div class="icon-wrapper">
    <div class="loader-icon">
      <div class="loader-bar1 loader-bar"></div>
      <div class="loader-bar2 loader-bar"></div>
      <div class="loader-bar3 loader-bar"></div>
      <div class="loader-bar4 loader-bar"></div>
      <div class="loader-bar5 loader-bar"></div>
      <div class="loader-bar6 loader-bar"></div>
      <div class="loader-bar7 loader-bar"></div>
      <div class="loader-bar8 loader-bar"></div>
      <div class="loader-bar9 loader-bar"></div>
      <div class="loader-bar10 loader-bar"></div>
      <div class="loader-bar11 loader-bar"></div>
      <div class="loader-bar12 loader-bar"></div>
      <div class="loader-bar13 loader-bar"></div>
      <div class="loader-bar14 loader-bar"></div>
      <div class="loader-bar15 loader-bar"></div>
      <div class="loader-bar16 loader-bar"></div>
      <div class="loader-bar17 loader-bar"></div>
      <div class="loader-bar18 loader-bar"></div>
      <div class="loader-bar19 loader-bar"></div>
      <div class="loader-bar20 loader-bar"></div>
      <div class="loader-bar21 loader-bar"></div>
      <div class="loader-bar22 loader-bar"></div>
      <div class="loader-bar23 loader-bar"></div>
      <div class="loader-bar24 loader-bar"></div>
    </div>
  </div>
</div>
