<div class="home "> 
  <div class="two">
<div class="divimg"> 
   <img class="imgw" src="../../../assets/image/Laptop - Copy (4).png" /> 
    <!-- <div class="img">
      
    </div> -->
    <!-- <div class="abc"></div>   -->
  </div> 

<div class="divimg2">
  <div class="bluebackground">
    <div class="heading">
    <div class="Dttl"> <h1 class="text1"><span style="color: white; 
      font-family: 'Times New Roman', Times, serif;letter-spacing: 3px;font-size: 60px;text-shadow: 2px 2px #86bc25;">DTTL</span></h1></div>
 
    <div class="reliablity"> <h1 class="text1"> <span style="color: #86bc25; font-family: 'Times New Roman', Times, serif;letter-spacing: 3px;font-size: 60px;text-shadow: 2px 2px #86bc25">RELIABILITY</span></h1></div>
    <div class="portal"><h1 class="text1"><span style="color: white; font-family: 'Times New Roman', Times, serif;letter-spacing: 3px;font-size: 56px;text-shadow: 2px 2px#86bc25">PORTAL</span></h1></div>
  </div>
    <br>
  <div class="lets"><h2><span style="color: #86bc25;text-shadow: 2px 2px #86bc25; font-family: 'Times New Roman', Times, serif;">LET'S GET </span> <span style="color: white;text-shadow: 2px 2px #86bc25; font-family: 'Times New Roman', Times, serif;"> STARTED</span></h2></div>
  <div class="wel" style="color: white;font-family: 'Open Sans', sans-serif;" >Welcome to Reliability Portal, where you</div>
  <div class="linear-gradient" style="
background-color: #86bc25;">
  <div class="can-find" style="color: white;font-family: 'Open Sans', sans-serif;"  >can find reliablity information, cost wise</div>
  


  <div class="detail" style="color: white;font-family: 'Open Sans', sans-serif;"  >details, score level information which can</div>
  <div class="benefit" style="color: white;font-family: 'Open Sans', sans-serif;">benefit leaders and practioners.</div>
  <div class="btn">
    <div  class="btn-learn-more" style="color:white">LEARN MORE</div></div>
    </div>
</div>



</div>
<div class="divimg1">
   <!-- <img class="img" src="../../../assets/image/Laptop.png"/>  -->
  <!-- <div class="can-find" style="color: white;"  >details, score level information which can</div>
  <div class="benefit" style="color: white;">benefit leaders and practioners.</div> -->
  <!-- <div class="green-border" style="background-color: lightgreen; display: inline;position: relative;">
  </div> -->
  </div>
</div>
<div class="linear-gradient" style="height: 145px;margin-top: 368.9px;
background-color:  #86bc25; ">
    
    </div>

<!-- <div>
  background-image: linear-gradient(to right,#3d570d, #5a7030);
  <img style="margin-top: 300px; width: 600px; height: 600px; margin-left: 0px; position: absolute;" src="../../../assets/image/Designelement.png" />
  <img style="margin-top: 300px; width: 800px;" src="../../../assets/image/Laptop.png" />
</div> -->
</div>
